<div th:fragment="day_card" class="col-md-auto">
    <h1 class="display-4 day_ueberschrift_margin_bot">Jetzt:</h1>
    <div class="card border-secondary mb-3 opacity_and_color" style="width: 350px;">
        <div class="row align-items-center">
            <div class="col-md-auto no_padding_left">
                <img th:src="@{${'/images/' + latestWeather.icon + '.svg'}}" alt="Weather Icon" height="60" width="70">
            </div>
            <div class="col-md-auto no_padding_left">
                <p class="card-text" th:text="${latestWeather.description}">Wetterbeschreibung</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-auto no_padding_left">
                <img th:src="@{${'/images/' + hourlyweatherlist[3].icon + '.svg'}}" alt="Weather Icon" height="60" width="70">
            </div>
            <div class="col-md-auto no_padding_left">
                <p class="card-text" id="weatherdescriptionin3h">Wetterbeschreibung</p>
                <script th:inline="javascript">
                    var weatherdescription  = /*[[${hourlyweatherlist[4].description}]]*/;
                    var unix_timestamp      = /*[[${hourlyweatherlist[4].time}]]*/;
                    var date                = new Date(unix_timestamp*1000);
                    var hours               = date.getHours();
                    var minutes             = date.getMinutes();
                    document.getElementById("weatherdescriptionin3h").innerHTML = weatherdescription+" um " +date.getHours() +" Uhr"
                </script>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-auto no_padding_left">
                <img src="images/thermometer.svg" alt="Weather Icon" height="60" width="70">
            </div>
            <div class="col-md-auto no_padding_left">
                <p th:text="${latestWeather.temp +' °C | ' +latestWeather.feels_like_temp +' °C gefühlt'}" class="card-text no_margin">24,3 °C | 22,5 °C gef.</p>
                <p th:text="${'min: ' +dailyweatherlist[0].temp_min +' °C | max: ' +dailyweatherlist[0].temp_max +' °C'}" class="card-text no_margin">24,3 °C | 22,5 °C gef.</p>
            </div>
        </div>

        <div class="card-body">
            <table class="table table-dark table-opacity_and_color">
                <tbody>
                <tr>
                    <th scope="row">Luftfeuchte</th>
                    <td th:text="${latestWeather.humidity +' %'}">5,6 m/s</td>
                </tr>
                <tr>
                    <th scope="row">Windgeschw.</th>
                    <td th:text="${latestWeather.wind_speed +' m/s'}">5,6 m/s</td>
                </tr>
                <tr>
                    <th scope="row">Sonnenaufgang<br>Sonnenuntergang</th>
                    <td id="suni">5:45 Uhr<br>19:45 Uhr</td>
                    <script th:inline="javascript">
                        var sunrise     = /*[[${latestWeather.sunrise}]]*/;
                        var sunset      = /*[[${latestWeather.sunset}]]*/;

                        var date_sunrise        = new Date(sunrise*1000);
                        var date_sunset         = new Date(sunset*1000);

                        document.getElementById("suni").innerHTML = date_sunrise.toLocaleTimeString() +" Uhr<br>" +date_sunset.toLocaleTimeString() +" Uhr";
                    </script>
                </tr>
                <tr>
                    <th scope="row">UV-Index</th>
                    <td ><span th:text="${latestWeather.uv_index}" id="uv_box" class=circle>5.84</span></td>
                    <script th:inline="javascript">
                        uvi = /*[[${latestWeather.uv_index}]]*/;
                        if (uvi <3){
                            document.getElementById("uv_box").style.backgroundColor = "green";
                        }else if (uvi<6){
                            document.getElementById("uv_box").style.backgroundColor = "darkorange";
                        }else if (uvi<8){
                            document.getElementById("uv_box").style.backgroundColor = "darkorange";
                        }else if (uvi<11){
                            document.getElementById("uv_box").style.backgroundColor = "red";
                        }else{
                            document.getElementById("uv_box").style.backgroundColor = "violet";
                        }
                    </script>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
