body{
    background: black url('/images/backgrounds/trains.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

html{
    font-size: 0.525vw;
}

.icon_height_width{
    width: 2.7vw;
    height: 2vw;
}

.icontermin_height_width{
    width: 0.9vw;
    height: 0.9vw;
}

.card_width{
    width: 11vw;
}

.card_sensorchart_width_height{
    width: 30vw;
    height: 15vw;
}

.custom_main_container{
    padding: 1.5vw 1.7vw;
}

.no_margin{
    margin: 0px;
}

.row{
    margin-left: 0px;

}

.no_padding_left{
    padding-left: 0px;
}

.no_padding_left_and_right{
    padding-left: 0px;
    padding-right: 0px;
}

.day_ueberschrift_margin_bot{
    margin-bottom: 15px;
}

#date {
    margin-bottom: 15px;
    margin-left: 15px;
}

.circle {
    border-radius: 10px;
    padding: 7px;
}

.opacity_and_color_weekend{
    background-color: rgba(37,60,82,0.70);
}

.opacity_and_color{
    background-color: rgba(52,58,64,0.6);
}

.table-opacity_and_color{
    background-color: rgba(0,0,0,0);
}

.opacity_warning{
    background-color: rgba(240,173,78,0.4);
}

.opacity_alert{
    background-color: rgba(217,83,79,0.4);
}

.opacity_ok{
    background-color: rgba(92, 184, 92,0.2)
}


}