<!doctype html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/x-icon" href="images/MethCat.png">
    <script language="javascript" type="text/javascript" src="/js/chart.js"></script>
    <script th:inline="javascript">
        var last_server_status = sessionStorage.getItem('server_status');;
        function checkServerForUpdates(){
            const Http  = new XMLHttpRequest();
            const url   = /*[[${website_get_data_status_url}]]*/;
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = function(){
                if(this.readyState == 4 && this.status == 200){
                    var new_server_status = Http.responseText
                    if (new_server_status != last_server_status){
                        sessionStorage.setItem('server_status', new_server_status);
                        location.reload();
                    }
                }
            }
        }
        setInterval(checkServerForUpdates, 1000);
    </script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <title>Doenerkoenig</title>
</head>
<body>

    <div class="container-fluid custom_main_container" >
        <h1 class="display-2" id="date" th:text="${time_and_date_string_long}">N.A.</h1>
        <script th:inline="javascript">
            function updateTime(){
                var date_str        = /*[[${time_and_date_string_short}]]*/;
                var currentTime     = new Date()
                var hours           = currentTime.getHours()
                var minutes         = currentTime.getMinutes()
                if (minutes < 10){
                    minutes = "0" + minutes
                }
                if (hours < 10){
                    hours = "0" + hours
                }
                var t_str = hours + ":" + minutes + " " + date_str;

                document.getElementById('date').innerHTML = t_str;
            }
            setInterval(updateTime, 1000);
        </script>
        <div class="row">

            <div th:insert="fragments/day_card :: day_card"></div>

            <div th:each="dailyitem,iter : ${dailyweatherlist}">
                <div class="col-md-auto">
                    <h1 class="display-4 day_ueberschrift_margin_bot" th:id="'time' + ${iter.index}">N.A.:</h1>
                    <script th:inline="javascript">
                        var datelist     = /*[[${headingsdates}]]*/;
                        var iter        = /*[[${iter.index}]]*/;
                        document.getElementById("time"+iter).innerHTML = datelist[iter];
                    </script>
                    <div class="card border-secondary mb-3 opacity_and_color" style="width: 350px;">
                        <div class="row align-items-center">
                            <div class="col-md-auto no_padding_left">
                                <img th:src="@{${'/images/' + dailyitem.icon + '.svg'}}" alt="Weather Icon" height="60" width="70">
                            </div>
                            <div class="col-md-auto no_padding_left">
                                <p class="card-text" th:text="${dailyitem.description}">Wetterbeschreibung n.a.</p>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-auto no_padding_left">
                                <img src="images/thermometer.svg" alt="Weather Icon" height="60" width="70">
                            </div>
                            <div class="col-md-auto no_padding_left">
                                <p th:text="${'min: ' +dailyitem.temp_min +' °C | max: ' +dailyitem.temp_max +' °C'}" class="card-text no_margin">n.a. °C | n.a. °C gef.</p>
                            </div>
                        </div>

                        <div class="card-body">
                            <table class="table table-dark table-opacity_and_color">
                                <tbody>
                                <tr>
                                    <th scope="row">Luftfeuchte</th>
                                    <td th:text="${dailyitem.humidity +' %'}">5,6 m/s</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sonnenaufgang<br>Sonnenuntergang</th>
                                    <td th:id="'sun' + ${iter.index}">n.a. Uhr<br>n.a. Uhr</td>
                                    <script th:inline="javascript">
                                    var sunrise     = /*[[${dailyitem.sunrise}]]*/;
                                    var sunset      = /*[[${dailyitem.sunset}]]*/;
                                    var iter        = /*[[${iter.index}]]*/;

                                    var date_sunrise        = new Date(sunrise*1000);
                                    var date_sunset         = new Date(sunset*1000);

                                    document.getElementById("sun"+iter).innerHTML = date_sunrise.toLocaleTimeString() +" Uhr<br>" +date_sunset.toLocaleTimeString() +" Uhr";
                                    </script>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div th:if="${not #lists.isEmpty(dayterminlist[iter.index].terminlist)}">
                        <div class="card border-secondary mb-3 opacity_and_color" style="width: 350px">
                            <div class="card-body">

                                    <table class="table table-dark no_margin table-opacity_and_color">
                                        <tbody>
                                            <tr th:each="termin,terminiter:${dayterminlist[iter.index].terminlist}">
                                                <td th:id="'termin_name' + ${terminiter.index} + ${iter.index}">N.A.</td>
                                                    <script th:inline="javascript">
                                                        var name            = /*[[${termin.name}]]*/;
                                                        var type            = /*[[${termin.type}]]*/;
                                                        var erledigungszeit = /*[[${termin.erledigungszeit}]]*/;

                                                        var terminiter      = /*[[${terminiter.index}]]*/;
                                                        var iter            = /*[[${iter.index}]]*/;

                                                        var element = document.getElementById("termin_name"+terminiter+iter);

                                                        if (type == 0){ // Aufgabe
                                                            if (erledigungszeit == 0){ // nicht erledigt
                                                                element.innerHTML = "<img src=\"/images/checkbox.svg\" width=\"25\" height=\"25\">" + " " + name;
                                                            }else{
                                                                element.innerHTML = "<img src=\"/images/checkbox_checked.svg\" width=\"25\" height=\"25\">" + " " + name;
                                                            }
                                                        }else if (type == 2){ // Geburtstag
                                                            element.innerHTML = "<img src=\"/images/birthday.svg\" width=\"25\" height=\"25\">" + " " + name;
                                                            element.classList.add('bg-dark');
                                                        }else if (type == 3 || type == 4 || type == 5){ // Urlaub oder Schulferien oder Feiertag
                                                            element.innerHTML = "<img src=\"/images/holiday.svg\" width=\"25\" height=\"25\">" + " " + name;
                                                            element.classList.add('bg-dark');
                                                        }else{
                                                            element.innerHTML = name;
                                                        }
                                                    </script>
                                                <td th:text="${termin.uhrzeit}" th:id="'termin_uhrzeit' + ${terminiter.index} + ${iter.index}">N.A.</td>
                                                    <script th:inline="javascript">
                                                        var type            = /*[[${termin.type}]]*/;

                                                        var terminiter      = /*[[${terminiter.index}]]*/;
                                                        var iter            = /*[[${iter.index}]]*/;

                                                        var element = document.getElementById("termin_uhrzeit"+terminiter+iter);

                                                        if (type == 2){ // Geburtstag
                                                            element.classList.add('bg-dark');
                                                        }else if (type == 3 || type == 4 || type == 5){ // Urlaub oder Schulferien oder Feiertag
                                                            element.classList.add('bg-dark');
                                                        }
                                                    </script>
                                            </tr>
                                        </tbody>
                                    </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>