<!doctype html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-heigth, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/x-icon" href="images/MethCat.png">
    <script language="javascript" type="text/javascript" src="/js/moment.js"></script>
    <script language="javascript" type="text/javascript" src="/js/chart.js"></script>
    <script th:inline="javascript">
        var last_server_status = sessionStorage.getItem('server_status');
        function checkServerForUpdates(){
            const Http  = new XMLHttpRequest();
            const url   = /*[[${website_get_data_status_url}]]*/;
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = function(){
                if(this.readyState == 4 && this.status == 200){
                    var new_server_status = Http.responseText;
                    if (new_server_status != last_server_status){
                        sessionStorage.setItem('server_status', new_server_status);
                        console.log ("last_server_status: " + last_server_status + " new_server_status: " + new_server_status);
                        location.reload();
                    }
                }
            }
        }
        setInterval(checkServerForUpdates, 10000);
    </script>

    <script th:inline="javascript">
        function updateChartData(){
            const Http  = new XMLHttpRequest();
            const url   = /*[[${website_update_plot_data_url}]]*/;
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = function(){
                if(this.readyState == 4 && this.status == 200){
                    var newPlotData = JSON.parse(Http.responseText);
                    console.log(newPlotData);

                    particleChart.data.datasets[0].data.push(newPlotData.latest_plot_pm25);
                    particleChart.data.datasets[1].data.push(newPlotData.latest_plot_pm10);
                    particleChart.data.datasets[2].data.push(newPlotData.latest_plot_iaq);
                    particleChart.update();

                    temperatureChart.data.datasets[0].data.push(newPlotData.latest_plot_temp);
                    temperatureChart.data.datasets[1].data.push(newPlotData.latest_plot_relhum);
                    temperatureChart.data.datasets[2].data.push(newPlotData.latest_plot_aussentemp);
                    temperatureChart.update();

                    document.getElementById('diele_pm25').innerHTML     = Math.round(newPlotData.latest_pm25_bibliothek.y*100)/100+'&mu;g/m&sup3;';
                    document.getElementById('diele_pm10').innerHTML     = Math.round(newPlotData.latest_pm10_bibliothek.y*100)/100+'&mu;g/m&sup3;';
                    document.getElementById('diele_iaq').innerHTML      = Math.round(newPlotData.latest_iaq_bibliothek.y*100)/100;
                    document.getElementById('diele_temp').innerHTML     = Math.round(newPlotData.latest_temp_bibliothek.y*100)/100+'°C';
                    document.getElementById('diele_relhum').innerHTML   = Math.round(newPlotData.latest_relhum_bibliothek.y*100)/100+'%';
                    document.getElementById('diele_abshum').innerHTML   = Math.round(newPlotData.latest_abshum_bibliothek.y*100)/100+'g/m&sup3;';

                    document.getElementById('bad_pm25').innerHTML     = "-";
                    document.getElementById('bad_pm10').innerHTML     = "-";
                    document.getElementById('bad_iaq').innerHTML      = "-";
                    document.getElementById('bad_temp').innerHTML     = Math.round(newPlotData.latest_temp_bad.y*100)/100+'°C';
                    document.getElementById('bad_relhum').innerHTML   = Math.round(newPlotData.latest_relhum_bad.y*100)/100+'%';
                    document.getElementById('bad_abshum').innerHTML   = Math.round(newPlotData.latest_abshum_bad.y*100)/100+'g/m&sup3;';

                    document.getElementById('schlafzimmer_pm25').innerHTML     = "-";
                    document.getElementById('schlafzimmer_pm10').innerHTML     = "-";
                    document.getElementById('schlafzimmer_iaq').innerHTML      = Math.round(newPlotData.latest_iaq_schlafzimmer.y*100)/100;
                    document.getElementById('schlafzimmer_temp').innerHTML     = Math.round(newPlotData.latest_temp_schlafzimmer.y*100)/100+'°C';
                    document.getElementById('schlafzimmer_relhum').innerHTML   = Math.round(newPlotData.latest_relhum_schlafzimmer.y*100)/100+'%';
                    document.getElementById('schlafzimmer_abshum').innerHTML   = Math.round(newPlotData.latest_abshum_schlafzimmer.y*100)/100+'g/m&sup3;';

                    var tempaussen      = /*[[${latestWeather.temp}]]*/;
                    var rel_hum_aussen  = /*[[${latestWeather.rel_hum}]]*/;
                    var abs_hum_aussen  = /*[[${latestWeather.abs_hum}]]*/;

                    document.getElementById('wetter_pm25').innerHTML     = "-";
                    document.getElementById('wetter_pm10').innerHTML     = "-";
                    document.getElementById('wetter_iaq').innerHTML      = "-";
                    document.getElementById('wetter_temp').innerHTML     = Math.round(tempaussen*100)/100+'°C';
                    document.getElementById('wetter_relhum').innerHTML   = Math.round(rel_hum_aussen*100)/100+'%';
                    document.getElementById('wetter_abshum').innerHTML   = Math.round(abs_hum_aussen*100)/100+'g/m&sup3;';

                    var element = document.getElementById("sensor_status");
                    element.innerHTML = "<b>Sensoren:</b><br><i>" + newPlotData.sensor_report + "</i>";
                    element.classList.remove("opacity_ok");
                    element.classList.remove("opacity_alert");
                    element.classList.remove("opacity_warning");
                    element.classList.add(newPlotData.sensor_color);

                    var element = document.getElementById("voc_status");
                    element.innerHTML = "<b>VOC:</b><br><i>" + newPlotData.voc_report + "</i>";
                    element.classList.remove("opacity_ok");
                    element.classList.remove("opacity_alert");
                    element.classList.remove("opacity_warning");
                    element.classList.add(newPlotData.voc_color);

                    var element = document.getElementById("humidity_status");
                    element.innerHTML = "<b>Feuchtigkeit:</b><br><i>" + newPlotData.hum_report + "</i>";
                    element.classList.remove("opacity_ok");
                    element.classList.remove("opacity_alert");
                    element.classList.remove("opacity_warning");
                    element.classList.add(newPlotData.hum_color);

                    var element = document.getElementById("particle_status");
                    element.innerHTML = "<b>Partikel:</b><br><i>" + newPlotData.particle_report + "</i>";
                    element.classList.remove("opacity_ok");
                    element.classList.remove("opacity_alert");
                    element.classList.remove("opacity_warning");
                    element.classList.add(newPlotData.particle_color);
                }
            }
        }
        setInterval(updateChartData, 3000);
    </script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <title>Doenerkoenig</title>

</head>
<body>

    <div class="container-fluid custom_main_container" >
        <h1 class="display-2" id="date" th:text="${time_and_date_string_long}">N.A.</h1>
        <script th:inline="javascript">
            function updateTime(){
                var date_str        = /*[[${time_and_date_string_short}]]*/;
                var currentTime     = new Date()
                var hours           = currentTime.getHours()
                var minutes         = currentTime.getMinutes()
                if (minutes < 10){
                    minutes = "0" + minutes
                }
                if (hours < 10){
                    hours = "0" + hours
                }
                var t_str = hours + ":" + minutes + " " + date_str;

                document.getElementById('date').innerHTML = t_str;
            }
            setInterval(updateTime, 1000);
        </script>
        <div class="row">

            <div th:insert="fragments/today_card :: today_card"></div>
            <div th:insert="fragments/day_card :: day_card"></div>

        </div>
    </div>

    <div th:insert="fragments/sensor_visualisation :: sensor_visualisation"></div>

</body>
</html>